
<div>
  <%= link_to 'Home', root_path %>
  <%= link_to 'All Recipes', recipes_path %>
</div>



<!--     ingredients GET    /ingredients(.:format)          ingredients#index
                POST   /ingredients(.:format)          ingredients#create
 new_ingredient GET    /ingredients/new(.:format)      ingredients#new
edit_ingredient GET    /ingredients/:id/edit(.:format) ingredients#edit
     ingredient GET    /ingredients/:id(.:format)      ingredients#show
                PATCH  /ingredients/:id(.:format)      ingredients#update
                PUT    /ingredients/:id(.:format)      ingredients#update
                DELETE /ingredients/:id(.:format)      ingredients#destroy
        recipes GET    /recipes(.:format)              recipes#index
                POST   /recipes(.:format)              recipes#create
     new_recipe GET    /recipes/new(.:format)          recipes#new
    edit_recipe GET    /recipes/:id/edit(.:format)     recipes#edit
         recipe GET    /recipes/:id(.:format)          recipes#show
                PATCH  /recipes/:id(.:format)          recipes#update
                PUT    /recipes/:id(.:format)          recipes#update
                DELETE /recipes/:id(.:format)          recipes#destroy
           root GET    /                               pages#home
     pages_info GET    /pages/info(.:format)           pages#info -->