

  <div class="masthead">
    <h1>Welcome!</h1>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="cont-nav">
        <input type='button' id="ingredient-btn" value='Ingredients'>
        <input type="button" id="recipe-btn" value="Recipes">
        <input type="button" id="category-btn" value="Categories">
      </div>

      <div class="main-content">

      </div>
    </div>

    <div class="col-md-4">
      <div class="home-sidebar">
        <h1>This is the sidebar</h1>
      </div>
    </div>
  </div>

